/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #D0F0C0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 40px;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.typing-animation {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  margin: 0 auto;
  letter-spacing: 0.15em;
}

.typing-animation p {
  opacity: 0;
  animation: typing 3s steps(30, end) 1s 1 normal both;
}

.typing-animation p:nth-child(1) {
  animation-delay: 0.5s;
}

.typing-animation p:nth-child(2) {
  animation-delay: 2s;
}

.typing-animation p:nth-child(3) {
  animation-delay: 4;
} */

body {
  background-color: #94CA3D; /* verde */
  color: #5B8440; /* blanco */
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  font-size: 3.5em;
  margin-top: 30px;
  animation: pulse 2s infinite;
}

p {
  font-size: 20px;
  margin-top: 30px;
  font-weight: 600;
  /* animation: slideInLeft 2s; */
}

.highlight {
  font-weight: bold;
  font-size: 2.5em;
  color: #FFEC3F; /* amarillo */
  text-shadow: 2px 2px #748934; /* sombra de texto */
  animation: rainbow 2s infinite;
}

img {
  margin-top: 50px;
  width: 10%;
}

.kermit2 {
  margin-top: 50px;
  width: 16%;
}

#confetti{
background: #94CA3D;;
height: 100%;
left: 0px;
position: fixed;
top: 0px;
width: 100%;
z-index: -1;
}
span {
font-size: 2rem;
font-weight: bold;
color: green;
text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
animation: wiggle 0.5s ease-in-out infinite;
}

@keyframes wiggle {
0% { transform: rotate(0deg); }
25% { transform: rotate(5deg); }
50% { transform: rotate(-5deg); }
75% { transform: rotate(3deg); }
100% { transform: rotate(0deg); }
}

.btn-animado {
display: inline-block;
padding: 15px 30px;
color: #FFEC3F;
font-weight: bold;
text-align: center;
text-decoration: none;
background-color: #35581E;
border-radius: 50px;
box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.btn-animado:hover {
background-color: #53892F;
}

.btn-animado span {
position: relative;
display: inline-block;
}

.btn-animado span:before,
.btn-animado span:after {
content: attr(data-text);
position: absolute;
top: 0;
left: 0;
transition: transform 0.5s ease;
}

.btn-animado span:before {
color: #4CAF50;
z-index: 1;
}

.btn-animado span:after {
color: white;
z-index: 2;
}

.btn-animado:hover span:before {
transform: translate(-10px, 10px);
}

.btn-animado:hover span:after {
transform: translate(10px, -10px);
}